<div class="col-md-2" style="text-align: right; margin-left: -10;">
    <a class="btn btn-warning btn-lg" href="{{ path(list_path) }}" role="button">
        <i class="glyphicon glyphicon-arrow-left"></i> Вернуться к списку
    </a>
</div>