<!-- DOCTYPE html-->
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap -->
        {% block stylesheets %}
            {% stylesheets '@bootstrap_less' combine=true %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body style="padding-top: 50px;">
        {% block header %}
            <div class="navbar navbar-default navbar-fixed-top">
                <a class="navbar-brand" href="#">Brand</a>
            </div>
        {% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts '@jquery_js' '@bootstrap_js' 'js/*' filter='?yui_js' combine=true %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript" href="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        {% endblock %}
    </body>
</html>