{% extends '::layout.html.twig' %}

{% block content %}
    <div class="row" style="width: 99.9999999999%;">
        <div class="col-sm-3 col-md-2" style="padding: 0; margin-left: 10px;">
            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-folder-close"></span>
                                Справочники
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="{{ path('advertising_source') }}">
                                            Источники рекламы
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ path('branches') }}">Филиалы</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ path('users') }}">Сотрудники</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ path('reason') }}">Причина обращения</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-file"></span>
                                Отчеты
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">Отчет по звонкам</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Отчет по очереди</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Отчет по дежурствам</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-user">
                                </span>Дежурства</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">График дежурств</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            {% block menu_content %}{% endblock menu_content %}
        </div>
    </div>
{% endblock %}