{% extends '::menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/dictionary/css/tables_with_filter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block menu_content %}
    <div class="container">
        <div class="col-md-8">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title">Добавление причины обращения</h3>
                </div>

                <div class="panel-body">
                    <div style="width: 550px; margin-left: 160px;">
                        <form method="post" action="{{ path('reason_create') }}">
                            <div class="form-group">
                                <label for="caller-name">Наименование:</label>
                                <div class="input-group col-xs-8">
                                    <input type="text" class="form-control" name="realtor_dictionarybundle_reason[name]" id="name" placeholder="Наименование" autocomplete="off" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="realtor_dictionarybundle_reason[isActive]" id="isActive" checked />причина возможна к использованию
                                    </label>
                                </div>
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <div class="col-xs-8 controls">
                                    <input class="btn btn-info btn-block" type="submit" value="Добавить" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        {% include '::back_to_list.html.twig' with {'list_path': 'reason'} only %}
    </div>
{% endblock %}
